footer {
    width: 100%;
    background-color: #2a2718;
    color: white;

    padding: 1rem 0 .5rem 0;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
    gap: 1rem;
}

footer,
header {
    border: 1px solid black;
}

.footer__copyright p {
    text-align: center;
}

@media (min-width: 600px) {
    /* footer {
        position: fixed;
        left: 0;
        bottom: 0;
    } */
}