.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    padding-top: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__buttons {
    position: relative;
    top: 15px;
}

.header__buttons button {
    background-color: white;
    border: solid black 1px;
    font-size: 1.2rem;
    cursor: pointer;
    /* padding: 5px 3rem; */
    padding: 5px;
}

#logo {
    width: 170px;
    height: auto;
}

@media (min-width: 600px) {
    .header__buttons button {
        padding: 5px 3rem;
    }
}